header {
  background-image: linear-gradient(
      rgba(11, 1, 1, 0.674),
      rgba(18, 8, 8, 0.236)
    ),
    url(../../images/Hero-image\ 1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  height: 85vh;
}
