// Home page:

@media (max-width: 800px) {
  .gallery {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
    img:hover,
    img:focus {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 734px) {
  header {
    height: 70vh;
  }

  .about-flex h2 {
    text-align: center;
  }

  .header-logo img {
    width: 130px;
    height: 60px;
  }

  .about-flex {
    flex-direction: column;
  }

  .about-flex div:nth-of-type(1),
  .about-flex div:nth-of-type(2) {
    width: 100%;
  }

  .about-flex div:nth-of-type(1) {
    margin: 0px 0px 25px;
  }

  .gallery {
    img:hover,
    img:focus {
      transform: scale(1);
    }
  }
}

@media (max-width: 485px) {
  header {
    height: 50vh;
  }

  h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .header-logo img {
    width: 90px;
    height: 40px;
  }

  .about-flex p {
    text-align: center;
  }

  .gallery {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
  }

  .contact p {
    font-size: 0.9rem;
    padding: 0px 10px;
  }
}

// Movie pages:
@media (max-width: 845px) {
  .about-castle-flex {
    // display: flex;
    flex-direction: column;
  }

  .castle-in-the-sky .about-castle .about-castle-flex .castle-contents {
    margin: 50px 0px 0px;
  }

  // .castle-in-the-sky .trailer-box {
  //   // bottom: 100px;
  //   // top: 1000px;
  // }

  .about-castle-flex div:nth-of-type(1) img {
    width: 270px;
    height: 350px;
    // let's do this
  }
}
