// Home page:

@media (max-width: 800px) {
  .gallery {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    }
    img:hover,
    img:focus {
      transform: scale(1.1);
    }
  }
}

@media (max-width: 734px) {
  header {
    height: 70vh;
  }

  .home-about-grid h2 {
    text-align: center;
  }

  .header-logo img {
    width: 130px;
    height: 60px;
  }

  .home-about-grid {
    flex-direction: column;
  }

  .home-about-grid div:nth-of-type(1),
  .home-about-grid div:nth-of-type(2) {
    width: 100%;
  }

  .home-about-grid div:nth-of-type(1) {
    margin: 0px 0px 25px;
  }

  .gallery {
    img:hover,
    img:focus {
      transform: scale(1);
    }
  }
}

@media (max-width: 485px) {
  header {
    height: 50vh;
  }

  h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .header-logo img {
    width: 90px;
    height: 40px;
  }

  .home-about-grid p {
    text-align: center;
  }

  .gallery {
    ul {
      grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    }
  }

  .contact p {
    font-size: 0.9rem;
    padding: 0px 10px;
  }
}

// Movie pages:
@media (max-width: 1000px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'img'
      'contents';
    img {
      margin: 0 auto;
    }
  }
  .contents {
    margin: 50px 0px 0px;
  }

  .trailer-box {
    top: 15%;
    right: 15%;
  }

  .about-grid div:nth-of-type(1) img {
    width: 270px;
    height: 350px;
  }
}

@media (max-width: 720px) {
  .trailer-box iframe {
    width: 400px;
  }
}

@media (max-width: 530px) {
  .trailer-box iframe {
    width: 300px;
  }

  .other-films .films ul {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}

