.ponyo header {
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)),
    url('../../images/header-images/ponyo-header.jpg');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: none;
  height: 100vh;
  position: relative;
  .header-logo div:nth-of-type(1) {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .header-logo img {
    width: 160px;
    height: 80px;
  }
}

.ponyo nav ul {
  display: flex;
  margin: 0;
  padding: 25px 0;
  li {
    padding: 0px 15px 5px 0px;
  }
  a {
    font-size: 0.7rem;
    font-family: 'Poppins', sans-serif;
    border-bottom: 1px solid transparent;
    padding: 5px 3px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
  }
}

.ponyo li a:hover,
.ponyo li a:focus {
  border-bottom: 1px solid rgb(0, 145, 202);
  box-shadow: -1px 1px 2px rgb(0, 126, 131);
}

.ponyo .about-ponyo {
  padding: 60px 0px 40px;
  background-color: rgba(7, 7, 7, 0.941);
  .about-ponyo-flex {
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    .ponyo-contents .api-fetch {
      display: flex;
      flex-direction: column;
      margin-left: 30px;
    }
  }
  .ponyo-contents button {
    margin-left: 30px;
    margin-top: 15px;
    padding: 8px;
  }
  p {
    margin-top: 0;
    margin-bottom: 10px;
    line-height: 25px;
  }
  h4 {
    margin: 0 0 10px;
  }
}

.ponyo .trailer-box {
  position: absolute;
  top: 0;
  right: 18%;
  .close {
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 1rem;
    background: transparent;
    color: white;
  }
}
