.the-yamadas header {
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)),
    url("../../images/header-images/the-yamadas-header.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: none;
  height: 100vh;
  position: relative;
  .header-logo div:nth-of-type(1) {
    position: absolute;
    bottom: 30px;
    right: 30px;
  }
  .header-logo img {
    width: 160px;
    height: 80px;
  }
}

.the-yamadas nav ul {
  display: flex;
  margin: 0;
  padding: 25px 0;
  li {
    padding: 0px 15px 5px 0px;
  }
  a {
    color: rgb(252, 241, 187);
    font-size: 0.7rem;
    font-family: "Poppins", sans-serif;
    border-bottom: 1px solid transparent;
    padding: 5px 3px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.the-yamadas li a:hover,
.the-yamadas li a:focus {
  border-bottom: 1px solid rgb(47, 43, 43);
  box-shadow: -1px 1px 2px rgb(108, 99, 81);
}

.the-yamadas .about-yamadas {
  padding: 60px 0px 40px;
  background-color: rgba(7, 7, 7, 0.941);
  .about-yamadas-flex {
    position: relative;
    // display: flex;
    display: grid;
    grid-template-columns: 1.5fr 2.5fr;
    .yamadas-contents .api-fetch {
      display: flex;
      flex-direction: column;
      margin-left: 20px;
    }
  }
  .yamadas-contents button {
    margin-left: 20px;
    margin-top: 15px;
    padding: 8px;
  }
  p {
    margin-top: 0;
    line-height: 25px;
    margin-bottom: 10px;
  }
  h4 {
    margin: 0 0 10px;
  }
}

.the-yamadas .trailer-box {
  position: absolute;
  top: 0;
  right: 18%;
  .close {
    position: absolute;
    top: -50px;
    right: 0;
    font-size: 1rem;
    background: transparent;
    color: white;
  }
}
