html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/Hero-image 1.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/Hero-image 1.jpg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

header {
  position: relative;
}

.header-logo div:nth-of-type(1) {
  position: absolute;
  bottom: 5px;
  right: 30px;
}

.header-logo img {
  width: 160px;
  height: 80px;
}

.castle-in-the-sky {
  position: relative;
}
.castle-in-the-sky header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/castle-in-the-sky.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/castle-in-the-sky.jpg");
}

.grave-of-the-fireflies {
  position: relative;
}
.grave-of-the-fireflies header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/fireflies-header-2.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/fireflies-header-2.jpg");
}

.grave-of-the-fireflies ul li a:hover,
.grave-of-the-fireflies ul li a:focus {
  border-bottom: 1px solid #908a7d;
  -webkit-box-shadow: -1px 1px 2px #6a4803;
          box-shadow: -1px 1px 2px #6a4803;
}

.my-neighbor-totoro {
  position: relative;
}
.my-neighbor-totoro header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/totoro-header-5.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/totoro-header-5.jpg");
}

.my-neighbor-totoro li a:hover,
.my-neighbor-totoro li a:focus {
  border-bottom: 1px solid #413723;
  -webkit-box-shadow: -1px 1px 2px #304d12;
          box-shadow: -1px 1px 2px #304d12;
}

.spirited-away {
  position: relative;
}
.spirited-away header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/spirited-away-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/spirited-away-header.jpg");
}

.spirited-away li a:hover,
.spirited-away li a:focus {
  border-bottom: 1px solid #fcf2da;
  -webkit-box-shadow: -1px 1px 2px #ffeac1;
          box-shadow: -1px 1px 2px #ffeac1;
}

.the-cat-returns {
  position: relative;
}
.the-cat-returns header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/the-cat-returns-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/the-cat-returns-header.jpg");
}

.the-cat-returns li a:hover,
.the-cat-returns li a:focus {
  border-bottom: 1px solid #fcf2da;
  -webkit-box-shadow: -1px 1px 2px #ffeac1;
          box-shadow: -1px 1px 2px #ffeac1;
}

.howls-moving-castle {
  position: relative;
}
.howls-moving-castle header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/howls-moving-castle-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/howls-moving-castle-header.jpg");
}

.howls-moving-castle li a:hover,
.howls-moving-castle li a:focus {
  border-bottom: 1px solid #fcf2da;
  -webkit-box-shadow: -1px 1px 2px #ffeac1;
          box-shadow: -1px 1px 2px #ffeac1;
}

.tales-from-earthsea {
  position: relative;
}
.tales-from-earthsea header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/tales-from-earthsea-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/tales-from-earthsea-header.jpg");
}

.tales-from-earthsea li a:hover,
.tales-from-earthsea li a:focus {
  border-bottom: 1px solid red;
  -webkit-box-shadow: -1px 1px 2px red;
          box-shadow: -1px 1px 2px red;
}

.ponyo {
  position: relative;
}
.ponyo header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/ponyo-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/ponyo-header.jpg");
}

.ponyo li a:hover,
.ponyo li a:focus {
  border-bottom: 1px solid #0091ca;
  -webkit-box-shadow: -1px 1px 2px #007e83;
          box-shadow: -1px 1px 2px #007e83;
}

.the-secret-world-of-arrietty {
  position: relative;
}
.the-secret-world-of-arrietty header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/the-secret-world-of-arrietty-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/the-secret-world-of-arrietty-header.jpg");
}

.the-secret-world-of-arrietty li a:hover,
.the-secret-world-of-arrietty li a:focus {
  border-bottom: 1px solid #00ca32;
  -webkit-box-shadow: -1px 1px 2px #16c45f;
          box-shadow: -1px 1px 2px #16c45f;
}

.from-up-on-poppy-hill {
  position: relative;
}
.from-up-on-poppy-hill header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/from-up-on-poppy-hill-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/from-up-on-poppy-hill-header.jpg");
}

.from-up-on-poppy-hill li a:hover,
.from-up-on-poppy-hill li a:focus {
  border-bottom: 1px solid #11d2ec;
  -webkit-box-shadow: -1px 1px 2px #11bae4;
          box-shadow: -1px 1px 2px #11bae4;
}

.the-wind-rises {
  position: relative;
}
.the-wind-rises header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/the-wind-rises-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/the-wind-rises-header.jpg");
}

.the-wind-rises li a:hover,
.the-wind-rises li a:focus {
  border-bottom: 1px solid #11d2ec;
  -webkit-box-shadow: -1px 1px 2px #11bae4;
          box-shadow: -1px 1px 2px #11bae4;
}

.the-tale-of-the-princess-kaguya {
  position: relative;
}
.the-tale-of-the-princess-kaguya header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/the-tale-of-the-princess-kaguya-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/the-tale-of-the-princess-kaguya-header.jpg");
}

.the-tale-of-the-princess-kaguya li a:hover,
.the-tale-of-the-princess-kaguya li a:focus {
  border-bottom: 1px solid #c3cdce;
  -webkit-box-shadow: -1px 1px 2px #b8c1c4;
          box-shadow: -1px 1px 2px #b8c1c4;
}

.when-marine-was-there {
  position: relative;
}
.when-marine-was-there header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/When-Marnie-Was-There-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/When-Marnie-Was-There-header.jpg");
}

.when-marine-was-there li a:hover,
.when-marine-was-there li a:focus {
  border-bottom: 1px solid #c3cdce;
  -webkit-box-shadow: -1px 1px 2px #b8c1c4;
          box-shadow: -1px 1px 2px #b8c1c4;
}

.the-red-turtle {
  position: relative;
}
.the-red-turtle header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/the-red-turtle-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/the-red-turtle-header.jpg");
}

.the-red-turtle li a:hover,
.the-red-turtle li a:focus {
  border-bottom: 1px solid #c3cdce;
  -webkit-box-shadow: -1px 1px 2px #b8c1c4;
          box-shadow: -1px 1px 2px #b8c1c4;
}

.kiki-delivery-service {
  position: relative;
}
.kiki-delivery-service header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/kiki-header-3.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/kiki-header-3.jpg");
}

.kiki-delivery-service li a:hover,
.kiki-delivery-service li a:focus {
  border-bottom: 1px solid #4b4b4b;
  -webkit-box-shadow: -1px 1px 2px #95b4bf;
          box-shadow: -1px 1px 2px #95b4bf;
}

.only-yesterday {
  position: relative;
}
.only-yesterday header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/yesterday-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/yesterday-header.jpg");
}

.only-yesterday li a:hover,
.only-yesterday li a:focus {
  border-bottom: 1px solid #74643d;
  -webkit-box-shadow: -1px 1px 2px #546d72;
          box-shadow: -1px 1px 2px #546d72;
}

.porco-rosso {
  position: relative;
}
.porco-rosso header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/porco-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/porco-header.jpg");
}

.porco-rosso li a:hover,
.porco-rosso li a:focus {
  border-bottom: 1px solid #74643d;
  -webkit-box-shadow: -1px 1px 2px #546d72;
          box-shadow: -1px 1px 2px #546d72;
}

.pom-poko {
  position: relative;
}
.pom-poko header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/pom-poko-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/pom-poko-header.jpg");
}

.pom-poko li a:hover,
.pom-poko li a:focus {
  border-bottom: 1px solid #acac53;
  -webkit-box-shadow: -1px 1px 2px #19210f;
          box-shadow: -1px 1px 2px #19210f;
}

.princess-mononoke {
  position: relative;
}
.princess-mononoke header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/mononoke-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/mononoke-header.jpg");
}

.princess-mononoke li a:hover,
.princess-mononoke li a:focus {
  border-bottom: 1px solid #4b4b4b;
  -webkit-box-shadow: -1px 1px 2px #95b4bf;
          box-shadow: -1px 1px 2px #95b4bf;
}

.the-yamadas {
  position: relative;
}
.the-yamadas header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/the-yamadas-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/the-yamadas-header.jpg");
}

.the-yamadas li a:hover,
.the-yamadas li a:focus {
  border-bottom: 1px solid #2f2b2b;
  -webkit-box-shadow: -1px 1px 2px #6c6351;
          box-shadow: -1px 1px 2px #6c6351;
}

.whisper-of-the-heart {
  position: relative;
}
.whisper-of-the-heart header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(11, 1, 1, 0.38)), to(rgba(18, 8, 8, 0.085))), url("../../images/header-images/whisper-of-the-heart-header.jpg");
  background-image: linear-gradient(rgba(11, 1, 1, 0.38), rgba(18, 8, 8, 0.085)), url("../../images/header-images/whisper-of-the-heart-header.jpg");
}

.whisper-of-the-heart li a:hover,
.whisper-of-the-heart li a:focus {
  border-bottom: 1px solid #626254;
  -webkit-box-shadow: -1px 1px 2px #19210f;
          box-shadow: -1px 1px 2px #19210f;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 25px 0;
}

a {
  font-size: 0.7rem;
  font-family: "Poppins", sans-serif;
  border-bottom: 1px solid transparent;
  padding: 5px 3px;
  font-weight: bold;
  color: #f4f4f4;
  text-transform: uppercase;
}

li {
  padding: 0px 15px 5px 0px;
}

li a:hover,
li a:focus {
  border-bottom: 1px solid #2d281b;
  -webkit-box-shadow: -1px 1px 2px #211d15;
          box-shadow: -1px 1px 2px #211d15;
}

#body {
  position: relative;
}

.about {
  padding: 60px 0px 40px;
  background-color: rgba(7, 7, 7, 0.941);
}

.contents {
  margin-left: 30px;
}

.api-fetch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-grid {
  position: relative;
  display: grid;
  grid-template-columns: 1.5fr 2.5fr;
  grid-template-rows: 1fr;
  grid-template-areas: "img contents";
}
.about-grid img {
  grid-area: img;
}
.about-grid .contents {
  grid-area: contents;
}
.about-grid .contents button {
  margin-top: 15px;
  margin-right: 20px;
  padding: 8px;
}
.about-grid p {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 25px;
}
.about-grid h4 {
  margin: 0 0 10px;
}

.trailer-box {
  position: absolute;
  top: 0;
  right: 25%;
  z-index: 20;
}
.trailer-box .close {
  position: absolute;
  top: -50px;
  right: 0;
  font-size: 1rem;
  background: transparent;
  color: white;
}

.other-films {
  padding: 30px 0px 40px;
  background-color: rgba(7, 7, 7, 0.941);
}
.other-films .films {
  text-align: center;
}
.other-films .films ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 15px;
  padding-left: 0;
}
.other-films .films ul li {
  padding: 0 10px;
}
.other-films .films ul li a:hover,
.other-films .films ul li a:focus {
  border-bottom: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.other-films .films .backHome {
  padding: 8px;
  background-color: white;
  color: black;
}
.other-films .films .backHome:hover, .other-films .films .backHome:focus {
  cursor: pointer;
  color: white;
  background-color: black;
}

html {
  font-size: 125%;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
p {
  margin: 0px;
  padding: 0px;
}

h1 {
  width: 10%;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 75px;
  padding-top: 30px;
  text-shadow: -2px 2px #957b7b;
}

h1 span:hover,
h1 span:focus {
  color: rgba(79, 8, 8, 0.585);
}

h2 {
  font-size: 1.5rem;
  color: white;
  padding-bottom: 12px;
}

h3 {
  font-size: 1.1rem;
  color: white;
  padding-bottom: 10px;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  color: white;
  font-size: 0.8rem;
}

.wrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.about {
  padding: 60px 0px 40px;
  background-color: rgba(7, 7, 7, 0.941);
}

.home-about-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-about-grid div:nth-of-type(1),
.home-about-grid div:nth-of-type(2) {
  width: 50%;
}

.home-about-grid div:nth-of-type(1) {
  margin-right: 25px;
  line-height: 25px;
}

.gallery {
  background-color: #2e3535;
}
.gallery h2 {
  text-align: center;
  padding-top: 50px;
  margin-bottom: 40px;
}
.gallery ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
  padding: 0px 0px 50px;
  margin: 0px;
}
.gallery li {
  padding: 0px;
}
.gallery img {
  height: 100%;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.gallery img:hover, .gallery img:focus {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-box-shadow: 8px 8px 8px #12a8ee;
          box-shadow: 8px 8px 8px #12a8ee;
}

.contact {
  text-align: center;
  padding: 60px 0px 40px;
  background-color: rgba(7, 7, 7, 0.941);
}
.contact p {
  font-size: 1.1rem;
  padding: 0px 20px;
}
.contact nav {
  padding-left: 0px;
}

.contact div:nth-of-type(1) {
  padding: 0px 20px;
}

form {
  padding-top: 20px;
}

input[type=email] {
  padding: 6px;
  font-size: 0.7rem;
  width: 220px;
  border: 0;
  outline: none;
}

button {
  padding: 6px;
  font-size: 0.7rem;
  border: 0;
  margin-left: -3px;
}

button:hover,
button:focus {
  cursor: pointer;
  color: white;
  background-color: black;
}

.social-link ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.social-link ul li {
  padding: 0px 10px;
}

i {
  color: white;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

i:hover,
i:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

footer {
  padding: 20px;
  background-color: #2e3535;
  text-align: center;
}
footer a {
  color: white;
}

footer a:hover,
footer a:focus {
  display: inline-block;
  -webkit-transform: scale(2);
          transform: scale(2);
  color: aqua;
  background-color: black;
}

@media (max-width: 800px) {
  .gallery ul {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
  .gallery img:hover,
.gallery img:focus {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
@media (max-width: 734px) {
  header {
    height: 70vh;
  }

  .home-about-grid h2 {
    text-align: center;
  }

  .header-logo img {
    width: 130px;
    height: 60px;
  }

  .home-about-grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .home-about-grid div:nth-of-type(1),
.home-about-grid div:nth-of-type(2) {
    width: 100%;
  }

  .home-about-grid div:nth-of-type(1) {
    margin: 0px 0px 25px;
  }

  .gallery img:hover,
.gallery img:focus {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@media (max-width: 485px) {
  header {
    height: 50vh;
  }

  h1 {
    font-size: 2rem;
    line-height: 40px;
  }

  .header-logo img {
    width: 90px;
    height: 40px;
  }

  .home-about-grid p {
    text-align: center;
  }

  .gallery ul {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }

  .contact p {
    font-size: 0.9rem;
    padding: 0px 10px;
  }
}
@media (max-width: 1000px) {
  .about-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "img" "contents";
  }
  .about-grid img {
    margin: 0 auto;
  }

  .contents {
    margin: 50px 0px 0px;
  }

  .trailer-box {
    top: 15%;
    right: 15%;
  }

  .about-grid div:nth-of-type(1) img {
    width: 270px;
    height: 350px;
  }
}
@media (max-width: 720px) {
  .trailer-box iframe {
    width: 400px;
  }
}
@media (max-width: 530px) {
  .trailer-box iframe {
    width: 300px;
  }

  .other-films .films ul {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  }
}